.top {
  font-family: "Hiragino Sans", "ヒラギノ角ゴシック", YuGothic, "Yu Gothic",
    "Arial", "メイリオ", Meiryo, "Helvetica Neue", "Helvetica", "Avenir",
    "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  height: 100vh;
  width: 100vw;
}
